<mat-toolbar color="primary">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
      <span>Parrillada Uruguaya</span>
      <span class="example-spacer"></span>
      <button type="button" class="btn btn-danger">Login</button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <img class="avatar mat-elevation-z8" src="https://png.pngtree.com/png-vector/20190223/ourlarge/pngtree-admin-rolls-glyph-black-icon-png-image_691507.jpg" />

        <h4 class="name">Ronny Andrade</h4>
        <p class="designation">Administrador</p>

        <mat-divider></mat-divider>

        <mat-selection-list #parentList [multiple]="false" (click)="onChange(parentList)" >
            <ng-container *ngFor="let menu of menuList">
              <mat-list-option [value]="menu" #selectedOpt [ngClass]="{active: selectedOpt.selected}" class="menu-option">
                <div *ngIf="menu.subMenu.length>=1">
                    <mat-icon >{{menu.icon}}</mat-icon>
                    <span>{{menu.name}}</span>     
                </div>
                <div *ngIf="menu.subMenu.length===0" [routerLink]="menu.route">
                    <mat-icon >{{menu.icon}}</mat-icon>
                    <span>{{menu.name}}</span>
                </div>
              </mat-list-option>
              <ng-container *ngIf="selected && selected.subMenu && selected.subMenu.length && menu.name===selected.name" >
                <mat-list-option *ngFor="let submenu of selected.subMenu" [value]="submenu" #selectedSubOpt [ngClass]="{active: selectedSubOpt.selected}" [routerLink]="submenu.route" class="submenu-option">
                    <span>{{submenu.name}}</span>
                </mat-list-option>
              </ng-container>
            </ng-container>
          
        </mat-selection-list>
          
          

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            
            <router-outlet></router-outlet>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>