<div class="container-fluid">
    <form [formGroup]="form">
        <div class="form-group mb-3">
            <input type="text" placeholder="Nombre" 
            class="form-control" formControlName="nombre" autofocus>
        </div>
        <div class="form-group mb-3">
            <textarea rows=3 placeholder="Descripcion" 
            class="form-control" formControlName="descripcion" autofocus>
            </textarea>
        </div>
        <div class="form-group mb-3">
            <input type="number" placeholder="Precio" 
            class="form-control" formControlName="precio" autofocus>
        </div>
        
        <div class="form-group mb-3">
            <input type="file" placeholder="Imagen" 
            class="form-control" (change)="onImageChanged($event)" formControlName="imagen" autofocus>
        </div>
        <div class="form-group mb-3 border rounded text-center">
            <br>
            <img class="text-center" src={{imgUrl}} alt={{imgUrl}} height="150px"/>
            <p>Miniatura</p>
        </div>
        <div class="form-group mb-3">
            <select class="form-control" formControlName="idtipoproducto">
                <option selected>Seleccione la visibilidad del producto</option>
                <option value= 1>Visible</option>
                <option value= 0>No visible</option>               
            </select>
        </div>
        <div class="form-group mb-3">
            <div class="btn btn-success btn-block" (click)="actualizarProducto()">Guardar</div>
            <button class="btn btn-primary" [mat-dialog-close]="true">Cancelar</button>
        </div>
    </form>
</div>
