<div class="main-table">
    <mat-toolbar class="table-tb">
        <span>Nuestros adicionales</span>
        <span class="example-spacer"></span>
        <button type="button" (click)="createDialog()" class="btn btn-success">
            <mat-icon >
                add_circle_outline
            </mat-icon>
            <span class="text-wi">
                Agregar adicional
            </span>
        </button>
    </mat-toolbar>

    <div class="row products-content" >
        <div class="col-md-3" *ngFor="let producto of productos" >
            <div class="card each-product" >
                <img src="{{producto.imagen}}" class="card-img-top" alt="...">
                <div class="card-body parent">
                  <h4 class="card-title">{{producto.nombre}}</h4>
                  <h5 class="card-text">{{producto.descripcion}}</h5>
                  <h3>Precio: ${{producto.precio}}</h3>
                  <div class="text-end child">
                    <button class="btn btn-outline-primary" (click)="editDialog(producto.idproducto,producto.nombre,producto.descripcion,producto.precio,producto.imagen,producto.visible)">Editar</button>
                    <button class="btn btn-outline-danger" (click)="deleteDialog(producto.idproducto,producto.nombre)">Eliminar</button>
                  </div>
                </div>
            </div>                
        </div>              
    </div>        
</div>