<div class="container-fluid">
    <form [formGroup]="form">
        <div class="form-group mb-3">
            <input type="text" placeholder="Nombre"
            [class.is-invalid]="nombre.invalid && nombre.touched"  
            class="form-control" formControlName="nombre" autofocus>
            <div *ngIf="nombre.invalid && nombre.touched">
                <small *ngIf="nombre.errors?.required" class="text-danger">
                    Campo obligatorio</small>
            </div>
        </div>
        <div class="form-group mb-3">
            <textarea rows=3 placeholder="Descripcion" maxlength="100"
            [class.is-invalid]="descripcion.invalid && descripcion.touched"  
            class="form-control" formControlName="descripcion" autofocus>
            </textarea>
            <div *ngIf="descripcion.invalid && descripcion.touched">
                <small *ngIf="descripcion.errors?.required" class="text-danger">
                    Campo obligatorio</small>
            </div>
        </div>
        <div class="form-group mb-3">
            <input type="number" placeholder="Precio"
            [class.is-invalid]="precio.invalid && precio.touched"   
            class="form-control" formControlName="precio" autofocus>
            <div *ngIf="precio.invalid && precio.touched">
                <small *ngIf="precio.errors?.required" class="text-danger">
                    Campo obligatorio</small>
            </div>
        </div>
        <div class="form-group mb-3">
            <input type="file" placeholder="Imagen" 
            [class.is-invalid]="imagen.invalid && imagen.touched"   
            class="form-control" (change)="onImageChanged($event)" formControlName="imagen" autofocus>
            <div *ngIf="imagen.invalid && imagen.touched">
                <small *ngIf="imagen.errors?.required" class="text-danger">
                    Campo obligatorio</small>
            </div>
        </div>
        <div class="form-group mb-3">
            <div class="btn btn-success btn-block" (click)="guardarProducto()">Guardar</div>
            <button class="btn btn-primary" [mat-dialog-close]="true">Cancelar</button>
        </div>
    </form>
</div>